<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ SPDX-FileCopyrightText: Niko Strijbol <niko@strijbol.be>
  ~
  ~ SPDX-License-Identifier: GPL-3.0-or-later
  -->
<gui name="opa"
     version="3"
     xmlns="https://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="https://www.kde.org/standards/kxmlgui/1.0
                                         https://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
  <MenuBar>
    <Menu name="edit">
      <Action name="switch_action"/>
      <Action name="person_add_new"/>
      <Action name="person_delete_existing"/>
    </Menu>
    <Menu name="manage">
      <text>Manage</text>
      <Action name="manage_name_origins"/>
      <Action name="manage_event_roles"/>
      <Action name="manage_event_types"/>
    </Menu>
  </MenuBar>

  <ToolBar name="mainToolBar" noMerge="1">
    <text>Main Toolbar</text>
    <Action name="switch_action"/>
    <Separator/>
    <Action name="options_configure"/>
  </ToolBar>
</gui>
